body {
  font-family: 'Roboto Condensed', serif;
}
.main {
  display: flex;
  justify-content: center;
}

.color-guide {
  margin: 20px 40px;
}

h5 {
  margin-bottom: 10px;
}

.user {
  padding: 7px 15px;
  border-radius: 4px;
  color: white;
  font-size: 13px;
  font-weight: bold;
  background: #ee92c2;
  margin: 10px 0;
}

.guest {
  background: #f0c987;
  color: white;
}

/* render() {
  return (
    <>
      <h3 style={{ textAlign: 'center' }}>Dos Paint</h3>
      <div className="main">
        <div className="color-guide">
          <h5>Color Guide</h5>
          <div className="user user">User</div>
          <div className="user guest">Guest</div>
        </div>

        <canvas
          ref={(ref) => (this.canvas = ref)}
          style={{ background: 'black' }}
          onMouseDown={this.onMouseDown}
          onMouseLeave={this.endPaintEvent}
          onMouseUp={this.endPaintEvent}
          onMouseMove={this.onMouseMove}
        />
      </div>
    </>
  );
}
} */
